h1 {
  text-align: center;
  color: #ff00c1;
  font-family: "Permanent Marker", cursive;
  font-size: 70px;
  text-shadow: 0 0 3px #ff00c1, 0 0 5px #ff00c1;
  padding-bottom: 40px;
}
#ordTitle {
  color: #39ff14;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  text-shadow: 0 0 3px #39ff14, 0 0 5px #39ff14;
}
#devTitle {
  color: #ff0303;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  text-shadow: 0 0 3px #ff0303, 0 0 5px #ff0303;
  float: right;
}
body {
  background-color: black;
}

li {
  color: #ffef00;
  text-shadow: 0 0 3px #ffef00, 0 0 5px #ffef00;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
}
#orderMore {
  text-align: center;

  color: #ff00c1;
  font-size: 35px;
  font-family: "Permanent Marker", cursive;
  text-shadow: 0 0 3px #ff00c1, 0 0 5px #ff00c1;
}
form {
  text-align: center;
}
#bnLabel {
  font-family: "Amatic SC", cursive;
  color: #00ffcd;
  text-shadow: 0 0 3px #00ffcd, 0 0 5px #00ffcd;
  font-size: 30px;
}
#bn {
  height: 25px;
}
#orderBtn {
  font-family: "Amatic SC", cursive;
  background-color: #c24cf6;
}
button {
  border-radius: 15px 50px;
  height: 35px;
  width: 130px;
  border: none;
  font-family: "Amatic SC", cursive;
  font-size: 17px;
}

/* .delete-burger {
  padding: 0px;
} */
